<html>
<body>
<p>Dear <%= @receiver_name %>,</p> 

<p>Ada paket <%= @package_type %> dari <%= @sender_name %>, <%= @sender_department %>, <%= @sender_company %>, berisi sebuah <%= @package_description %>. Untuk detail bisa dilihat ke:</p>

<p><a href="<%= @url %>">klik disini</a></p>

<p>Terima Kasih</p>
</body>
</html>
