          <div class="wrap-content container" id="container">
            <!-- start: PAGE TITLE -->
            <section id="page-title">
              <div class="row">
                <div class="col-sm-8">
                  <h1 class="mainTitle">PACKAGE STATUS LIST</h1>
                  <span class="mainDescription">Halaman untuk menampilkan daftar Package Status</span>
                </div>
                <ol class="breadcrumb">
                  <li>
                    <span>Dashboard</span>
                  </li>
                  <li class="active">
                    <span>Package Status List</span>
                  </li>
                </ol>
              </div>
            </section>
            <!-- end: PAGE TITLE -->
            <!-- start: DYNAMIC TABLE -->
            <div class="container-fluid container-fullw">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="over-title margin-bottom-15">List of <span class="text-bold">Package Statuses</span></h5>
                  <div class="row">
                    <div class="col-md-12 space20">
                      <% 
                            @not_authorized = true

                            if current_user.user_group
                              current_user.user_group.action_models.each do |action_model|
                                if (action_model.controller_model.path == "package_statuses" && action_model.path == "new")
                                  @not_authorized = false
                                end

                                break if ! @not_authorized
                              end
                          end
                        %>

                        <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                                      <a href="/package_statuses/new" class="btn btn-green">
                                      Add New <i class="fa fa-plus"></i>
                                    </a>
                                <% end %>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @package_statuses.each do |package_status| %>
                          <tr>
                            <td><%= link_to package_status.name, package_status_path(package_status) %></td>
                            <td><%= package_status.description %></td>
                            <td>
                              <% 
                                  @not_authorized = true

                                  if current_user.user_group
                                    current_user.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "package_statuses" && action_model.path == "edit")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                              %>

                              <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                                <%= link_to edit_package_status_path(package_status) do %>
                                  <i class="fa fa-edit"></i>
                                <% end %>
                              <% end %>

                              <% 
                                  @not_authorized = true

                                  if current_user.user_group
                                    current_user.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "package_statuses" && action_model.path == "destroy")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                              %>

                              <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                                <%= link_to package_status_path(package_status), method: :delete, data: {confirm: "are you sure?"} do %>
                                  <i class="fa fa-trash"></i>
                                <% end %>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= content_for :css do %>
            <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
            <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
            <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
          <% end %>

          <%= content_for :js do %>
            <script src="/vendor/select2/select2.min.js"></script>
            <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
            <!-- start: JavaScript Event Handlers for this page -->
            <script src="/assets/js/table-data.js"></script>
            <script>
              jQuery(document).ready(function() {
                Main.init();
                TableData.init();
              });
            </script>
            <!-- end: JavaScript Event Handlers for this page -->
          <% end %>
