<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-login'}) do |f| %>
  <fieldset>
    <legend>
      Sign in to mailroom apps
    </legend>
    <p>
      Please enter your name and password to log in.
    </p>

    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>

    <%= hidden_field_tag :front_end, 1 %>

    <div class="form-group">
      <span class="input-icon">
        <%= f.text_field :username, :class => 'form-control', placeholder: "your username .." %>
        <i class="fa fa-user"></i> </span>
    </div>
    <div class="form-group form-actions">
      <span class="input-icon">
        <%= f.password_field :password, :class => 'form-control passwor', placeholder: "your pasword .." %>
        <i class="fa fa-lock"></i>
        <a class="forgot" href="login_forgot.html">
          I forgot my password
        </a> </span>
    </div>
    <div class="form-actions">
      <div class="checkbox clip-check check-primary">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <label for="remember">
          Keep me signed in
        </label>
      </div>
      <button type="submit" class="btn btn-primary pull-right">
        Login <i class="fa fa-arrow-circle-right"></i>
      </button>
    </div>
  </fieldset>
<% end %>