	<div class="wrap-content container" id="container">
		<!-- start: PAGE TITLE -->
		<section id="page-title">
			<div class="row">
				<div class="col-sm-8">
					<h1 class="mainTitle">User Group Data Detail</h1>
					<span class="mainDescription">Halaman untuk melihat detail user_group</span>
				</div>
				<ol class="breadcrumb">
					<li>
						<span>User Group View</span>
					</li>
					<li class="active">
						<span>View User Group</span>
					</li>
				</ol>
			</div>
		</section>
		<!-- end: PAGE TITLE -->
		<!-- start: BASIC EXAMPLE -->
		<div class="container-fluid container-fullw bg-white">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-lg-8 col-md-12">
							<div class="panel panel-white">
								<div class="panel-heading">
									<h5 class="panel-title">Detail User Group</h5>
								</div>
								<div class="panel-body">
									<table class="table">
										<tbody>
											<tr>
												<td>Name</td>
												<td><%= @user_group.name %></td>
											</tr>
											<tr>
												<td>Description</td>
												<td><%= @user_group.description %></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
                <div class="col-md-12 space20">
                  <% 
                      @not_authorized = true

                      if current_user.user_group
                        current_user.user_group.action_models.each do |action_model|
                          if (action_model.controller_model.path == "admin/user_groups" && action_model.path == "edit")
                            @not_authorized = false
                          end

                          break if ! @not_authorized
                        end
                    end
                  %>

                  <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
	                  <a href="/user_groups/<%= params[:id] %>/edit" class="btn btn-warning">
	                    Edit <i class="fa fa-edit"></i>
	                  </a>
	              <% end %>
                  <a href="/user_groups" class="btn btn-info">
                    Back <i class="fa fa-reply"></i>
                  </a>
                </div>
          	</div>
		</div>
		<!-- end: BASIC EXAMPLE -->
	</div>

          <%= content_for :css do %>
            <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
            <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
            <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
          <% end %>

          <%= content_for :js do %>
            <script src="/vendor/select2/select2.min.js"></script>
            <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
            <!-- start: JavaScript Event Handlers for this page -->
            <script src="/assets/js/table-data.js"></script>
            <script>
              jQuery(document).ready(function() {
                Main.init();
                TableData.init();
              });
            </script>
            <!-- end: JavaScript Event Handlers for this page -->
          <% end %>