<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
    <label class="col-sm-3 control-label">
      Email
    </label>
    <div class="col-sm-7">
      <%= f.email_field :email, class: 'form-control', placeholder: 'Enter email ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Username
    </label>
    <div class="col-sm-7">
      <%= f.text_field :username, class: 'form-control', placeholder: 'Enter username ..' %>
    </div>
  </div>
  <% if params[:action] == "edit" %>
    <div class="form-group">
      <label class="col-sm-3 control-label">
        Current Password
      </label>
      <div class="col-sm-7">
        <%= f.password_field :current_password, class: 'form-control', placeholder: 'Enter current password ..' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">
        Password
      </label>
      <div class="col-sm-7">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password ..' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">
        Password Confirmation
      </label>
      <div class="col-sm-7">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Enter password confirmation ..' %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Name
    </label>
    <div class="col-sm-7">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter name ..' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_group, class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.select :user_group_id, options_from_collection_for_select(@user_groups, "id", "name", @user.user_group_id),{ :include_blank => "-- Choose User Group --"}, {class: "js-example-placeholder-single js-states form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :company, class: "col-sm-3 control-label" %>
    <div class="col-sm-7">
      <%= f.select :company_id, options_from_collection_for_select(@companies, "id", "name", @user.company_id), {:include_blank => "-- Choose Company --"}, {class: "js-example-placeholder-single js-states form-control"} %>
    </div>
  </div>
  <div class="form-group" id="department">
    <% if @user.company %>
      <%= f.label :department, class: "col-sm-3 control-label" %>
      <div class="col-sm-7">
        <%= f.select :department_id, options_from_collection_for_select(@user.company.departments, "id", "name", @user.department_id), {:include_blank => "-- Choose Department --"}, {class: "js-example-placeholder-single js-states form-control"} %>
      </div>
    <% end %>
  </div>

  <% if current_user.building %>
    <%= f.hidden_field :building_id, :value => current_user.building_id %>
  <% else %>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Building
      </label>
      <div class="col-sm-7">
        <%= f.select :building_id, options_from_collection_for_select(@buildings, "id", "name", @user.building_id), {include_blank: "-- Choose Building --"}, {class: "js-example-placeholder-single js-states form-control"} %>
      </div>
    </div>  
  <% end %>
  
  <div class="form-group">
    <button type="submit" class="btn btn-o btn-primary">
      Submit
    </button>
  </div>
<% end %>

<%= content_for :css do %>
  
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
    
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/vendor/ckeditor/ckeditor.js"></script>
    <script src="/vendor/ckeditor/adapters/jquery.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>

    <script src="/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/vendor/autosize/autosize.min.js"></script>
    <script src="/vendor/selectFx/classie.js"></script>
    <script src="/vendor/selectFx/selectFx.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
  
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/form-validation.js"></script>
    <script src="/assets/js/form-elements.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        FormValidator.init();
        FormElements.init();
      });
    </script>
<% end %>