          <div class="wrap-content container" id="container">
            <!-- start: PAGE TITLE -->
            <section id="page-title">
              <div class="row">
                <div class="col-sm-8">
                  <h1 class="mainTitle">USER LIST</h1>
                  <span class="mainDescription">Halaman untuk menampilkan daftar User</span>
                </div>
                <ol class="breadcrumb">
                  <li>
                    <span>Dashboard</span>
                  </li>
                  <li class="active">
                    <span>User List</span>
                  </li>
                </ol>
              </div>
            </section>
            <!-- end: PAGE TITLE -->

            <div class="container-fluid container-fullw">
              <h5 class="over-title margin-bottom-15">Filter of <span class="text-bold">Users</span></h5>
              <div class="row">
                <%= form_tag users_path, method: :get,  role: "form", class: "margin-bottom-20" do %> 
                <div class="col-xs-2">
                  <div class="input-group input-append">Name</div>
                  <input name="name" size="15" class="form-control" <% if params[:name] %>value="<%= params[:name] %>"<% end %> />
                </div>
                <div class="col-xs-2">
                  <div class="input-group input-append">Username</div>
                  <input name="username" size="15" class="form-control" <% if params[:username] %>value="<%= params[:username] %>"<% end %> />
                </div>
                <div class="col-xs-2">
                  <div class="input-group input-append">Email</div>
                  <input name="email" size="15" class="form-control" <% if params[:email] %>value="<%= params[:email] %>"<% end %> />
                </div>
                <div class="col-xs-2">
                  <div class="input-group input-append">Department</div>
                  <%= select_tag(:department, options_from_collection_for_select(@all_departments, "id", "name"), include_blank: "Pilih Department", class: "form-control") %>
                </div>
                <div class="col-xs-2">
                  <div class="input-group input-append">Company</div>
                  <%= select_tag(:company, options_from_collection_for_select(@all_companies, "id", "name"), include_blank: "Pilih Company", class: "form-control") %>
                </div>
                <div class="col-xs-1">
                  <div class="input-group input-append">&nbsp;</div>
                  <%= submit_tag "Search", name: nil, style:"margin:9px" %>
                </div>
                <% end %>
              </div>
            </div>

            <div class="clearfix">&nbsp;</div>

            <!-- start: DYNAMIC TABLE -->
            <div class="container-fluid container-fullw">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="over-title margin-bottom-15">List of <span class="text-bold">Users</span></h5>
                  <div class="row">
                    <div class="col-md-6 space20">
                      <% 
                            @not_authorized = true

                            if current_user.user_group
                              current_user.user_group.action_models.each do |action_model|
                                if (action_model.controller_model.path == "users" && action_model.path == "new")
                                  @not_authorized = false
                                end

                                break if ! @not_authorized
                              end
                          end
                        %>

                        <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                                      <a href="/users/new" class="btn btn-green">
                                      Add New <i class="fa fa-plus"></i>
                                    </a>
                                <% end %>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
                      <thead>
                        <tr>
                          <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th>Company</th>
                            <th>User Group</th>
                            <% if ! current_user.building %>
                              <th>Building</th>
                            <% end %>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @users.each do |user| %>
                          <tr class="user-content-table">
                            <td><%= link_to user.name, user_path(user) %></td>
                            <td><%= user.username %></td>
                            <td><%= user.email %></td>
                            <td><%= user.department.name if user.department %></td>
                            <td><%= user.company.name if user.company %></td>
                            <td><%= user.user_group.name if user.user_group %></td>
                            <% if ! current_user.building %>
                              <td><%= user.building.name if user.building %></td>
                            <% end %>
                            <td>
                              <% 
                                  @not_authorized = true

                                  if current_user.user_group
                                    current_user.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "users" && action_model.path == "edit")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                              %>

                              <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                                <%= link_to edit_user_path(user) do %>
                                  <i class="fa fa-edit"></i>
                                <% end %>
                              <% end %>

                              <% 
                                  @not_authorized = true

                                  if current_user.user_group
                                    current_user.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "users" && action_model.path == "destroy")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                              %>

                              <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                                <%= link_to user_path(user), method: :delete, data: {confirm: "are you sure?"} do %>
                                  <i class="fa fa-trash"></i>
                                <% end %>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= content_for :css do %>
            <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
            <link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
            <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
          <% end %>

          <%= content_for :js do %>
            <!-- start: JavaScript Event Handlers for this page -->
            <script src="/vendor/maskedinput/jquery.maskedinput.min.js"></script>
            <script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
            <script src="/vendor/autosize/autosize.min.js"></script>
            <script src="/vendor/selectFx/classie.js"></script>
            <script src="/vendor/selectFx/selectFx.js"></script>
            <script src="/vendor/select2/select2.min.js"></script>
            <script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
            <script src="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
            <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
            <!-- start: JavaScript Event Handlers for this page -->
            <script src="/assets/js/form-elements.js"></script>
            <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
            <script src="/assets/js/table-data.js"></script>
            <script>
                jQuery(document).ready(function() {
                    Main.init();
                    TableData.init();
                    FormElements.init();
                });
            </script>
            <!-- end: JavaScript Event Handlers for this page -->
          <% end %>