  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">User Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail user</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>User View</span>
          </li>
          <li class="active">
            <span>View User</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail User</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td><%= @user.name %></td>
                      </tr>
                      <tr>
                        <td>Username</td>
                        <td><%= @user.username %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%= @user.email %></td>
                      </tr>
                      <tr>
                        <td>User Group</td>
                        <td><%= @user.user_group ? @user.user_group.name : "N/A" %></td>
                      </tr>
                      <tr>
                        <td>Company</td>
                        <td><%= @user.company ? @user.company.name : "N/A" %></td>
                      </tr>
                      <tr>
                        <td>Department</td>
                        <td><%= @user.department ? @user.department.name : "N/A" %></td>
                      </tr>
                      <% if ! current_user.building %>
                        <tr>
                          <td>Building</td>
                          <td><%= @user.building ? @user.building.name : "N/A" %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
                <div class="col-md-12 space20">
                  <% 
                      @not_authorized = true

                      if current_user.user_group
                        current_user.user_group.action_models.each do |action_model|
                          if (action_model.controller_model.path == "admin/users" && action_model.path == "edit")
                            @not_authorized = false
                          end

                          break if ! @not_authorized
                        end
                    end
                  %>

                  <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                    <a href="/users/<%= params[:id] %>/edit" class="btn btn-warning">
                      Edit <i class="fa fa-edit"></i>
                    </a>
                  <% end %>
                  <a href="/users" class="btn btn-info">
                    Back <i class="fa fa-reply"></i>
                  </a>
                </div>
            </div>
    </div>
    <!-- end: BASIC EXAMPLE -->
  </div>

          <%= content_for :css do %>
            <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
            <link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
            <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
          <% end %>

          <%= content_for :js do %>
            <!-- start: JavaScript Event Handlers for this page -->
            <script src="/vendor/maskedinput/jquery.maskedinput.min.js"></script>
            <script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
            <script src="/vendor/autosize/autosize.min.js"></script>
            <script src="/vendor/selectFx/classie.js"></script>
            <script src="/vendor/selectFx/selectFx.js"></script>
            <script src="/vendor/select2/select2.min.js"></script>
            <script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
            <script src="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
            <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
            <!-- start: JavaScript Event Handlers for this page -->
            <script src="/assets/js/form-elements.js"></script>
            <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
            <script src="/assets/js/table-data.js"></script>
            <script>
                jQuery(document).ready(function() {
                    Main.init();
                    TableData.init();
                    FormElements.init();
                });
            </script>
            <!-- end: JavaScript Event Handlers for this page -->
          <% end %>