					<div class="wrap-content container" id="container">
						<!-- start: PAGE TITLE -->
						<section id="page-title">
							<div class="row">
								<div class="col-sm-8">
									<h1 class="mainTitle">Form Ubah Department</h1>
									<span class="mainDescription">Form untuk menambah data Department yang baru</span>
								</div>
								<ol class="breadcrumb">
									<li>
										<span>Department Forms</span>
									</li>
									<li class="active">
										<span>Form Department</span>
									</li>
								</ol>
							</div>
						</section>
						<!-- end: PAGE TITLE -->
						<!-- start: BASIC EXAMPLE -->
						<div class="container-fluid container-fullw bg-white">
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-8 col-md-12">
											<div class="panel panel-white">
												<div class="panel-heading">
													<h5 class="panel-title">Form Ubah</h5>
												</div>
												<div class="panel-body">
													<%= render "form" %>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
			                    <div class="col-md-12 space20">
			                    	<% 
					                      @not_authorized = true

					                      if current_user.user_group
					                        current_user.user_group.action_models.each do |action_model|
					                          if (action_model.controller_model.path == "admin/departments" && action_model.path == "show")
					                            @not_authorized = false
					                          end

					                          break if ! @not_authorized
					                        end
					                    end
					                  %>

				                  <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
				                      <a href="/departments/<%= params[:id] %>" class="btn btn-green">
				                        Show <i class="fa fa-search-plus"></i>
				                      </a>
				                  <% end %>
			                      <a href="/departments" class="btn btn-info">
			                        Back <i class="fa fa-reply"></i>
			                      </a>
			                    </div>
		                  	</div>
						</div>
						<!-- end: BASIC EXAMPLE -->
					</div>