  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Company Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail company</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Company View</span>
          </li>
          <li class="active">
            <span>View Company</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Company</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td><%= @company.name %></td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td><%= @company.description %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
                <div class="col-md-12 space20">
                  <% 
                      @not_authorized = true

                      if current_user.user_group
                        current_user.user_group.action_models.each do |action_model|
                          if (action_model.controller_model.path == "admin/companies" && action_model.path == "edit")
                            @not_authorized = false
                          end

                          break if ! @not_authorized
                        end
                    end
                  %>

                  <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                    <a href="/companies/<%= params[:id] %>/edit" class="btn btn-warning">
                      Edit <i class="fa fa-edit"></i>
                    </a>
                  <% end %>

                  <% 
                      @not_authorized = true

                      if current_user.user_group
                        current_user.user_group.action_models.each do |action_model|
                          if (action_model.controller_model.path == "admin/companies" && action_model.path == "index")
                            @not_authorized = false
                          end

                          break if ! @not_authorized
                        end
                    end
                  %>

                  <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                    <a href="/companies" class="btn btn-info">
                      Back <i class="fa fa-reply"></i>
                    </a>
                  <% end %>
                </div>
            </div>
    </div>
    <!-- end: BASIC EXAMPLE -->

    <!-- start: DYNAMIC TABLE -->
    <div class="container-fluid container-fullw">
      <div class="row">
        <div class="col-md-12">
          <h5 class="over-title margin-bottom-15">List of <span class="text-bold">Departments</span></h5>
          <div class="row">
            <div class="col-md-12 space20">
              <a href="/departments/new?company_id=<%= params[:id] %>" class="btn btn-green">
                Add New <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @company.departments.each do |department| %>
                  <tr>
                    <td><%= link_to department.name, department_path(department) %></td>
                    <td><%= department.description %></td>
                    <td>
                      <% 
                          @not_authorized = true

                          if current_user.user_group
                            current_user.user_group.action_models.each do |action_model|
                              if (action_model.controller_model.path == "admin/departments" && action_model.path == "edit")
                                @not_authorized = false
                              end

                              break if ! @not_authorized
                            end
                        end
                      %>

                      <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                        <%= link_to image_tag("skin/edit_16.png"), edit_department_path(department) %>
                      <% end %>

                      <% 
                          @not_authorized = true

                          if current_user.user_group
                            current_user.user_group.action_models.each do |action_model|
                              if (action_model.controller_model.path == "admin/departments" && action_model.path == "destroy")
                                @not_authorized = false
                              end

                              break if ! @not_authorized
                            end
                        end
                      %>

                      <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                        <%= link_to image_tag("skin/delete_16.png"), department_path(department), :confirm => 'Are you sure?', :method => :delete, :class => 'del' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= content_for :css do %>
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
  <% end %>

  <%= content_for :js do %>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/table-data.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        TableData.init();
      });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
  <% end %>