<script type="text/javascript">
  $(function(){
      $("#inbound_courier_id").change(function(){
        if ($("#inbound_courier_id").val() == "") {
          $("#new-courier").show();
        } else {
          $("#new-courier").hide();
        }
      });

      $("form").submit(function(){

          if ($("#inbound_inbound_date").val() == "") {
              alert ("Tanggal Masuk harus diisi");
              return false;
          } else if ($("#inbound_courier_id").val() == "") {
              if ($("#new-courier-name").val() == "") {
                alert ("Nama Kurir harus diisi");
                return false;
              }
          } else if ($("#noresi").val() == "") {
              alert ("Nomor Resi harus diisi");
              return false;
          } else if ($("#tanggalresi").val() == "") {
              alert ("Tanggal Resi harus diisi");
              return false;
          } else if ($("#inbound_package_type_id").val() == "") {
              alert ("Tipe Paket harus dipilih");
              return false;
          } else if ($("#keteranganisi").val() == "") {
              alert ("Isi harus diisi");
              return false;
          } else if ($("#inbound_urgent_level_id").val() == "") {
              alert ("Urgency Level harus dipilih");
              return false;
          } else if ($("#pengirim").val() == "") {
              alert ("Nama Pengirim harus diisi");
              return false;
          } else if ($("#inbound_company_id").val() == "") {
              alert ("Perusahaan Penerima harus dipilih");
              return false;
          } else if ($("#inbound_department_id").val() == "") {
              alert ("Departemen Penerima harus dipilih");
              return false;
          } else if ($("#inbound_user_id").val() == "") {
              alert ("Penerima harus dipilih");
              return false;
          } else {
            return confirm("Anda yakin data yang dimasukkan sudah benar ?");
          }
    });
  });
</script>

<%= form_for(@inbound, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @inbound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inbound.errors.count, "error") %> prohibited this inbound from being saved:</h2>

      <ul>
      <% @inbound.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" %>
      <%= f.hidden_field :created_by, :value => current_user.id %>
      <%= f.hidden_field :inbound_status, value: 1 %>
    <% else %>
      <%= f.hidden_field :updated_by, :value => current_user.id %>
    <% end %>

    <% if current_user.building %>
      <%= f.hidden_field :building_id, :value => current_user.building_id %>
    <% end %>

  <fieldset>
    <legend>Paket</legend>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Task ID
      </label>
      <div class="col-sm-7">
        <input name="inbound[inbound_number]" type="text" value="<%= @inbound_number %>" placeholder="<%= @inbound_number %>" id="idfield" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="date">
        Tanggal Masuk
      </label>
      <div class="col-sm-7">
        <div class="col-sm-6 padding-left-0">
          <input name="inbound[inbound_date]" id="inbound_inbound_date" value="<%= @inbound.inbound_date ? @inbound.inbound_date : Time.now.to_date %>" class="col-sm-3 form-control format-datepicker" placeholder="choose the date here .." type="text">
        </div>
        <div class="col-sm-6 padding-right-0">
          <input type="text" name="inbound[inbound_time]" value="<%= @inbound.inbound_time %>" id="timepicker-default" class="col-sm-3 form-control" placeholder="choose the time here ..">
        </div>    
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Kurir / Ekspedisi
      </label>
      <div class="col-sm-7">
        <%= f.select :courier_id, options_from_collection_for_select(@couriers, "id", "name", @inbound.courier_id), {include_blank: "-- New Courier --"}, {class: "js-example-placeholder-single js-states form-control"} %>
      </div>
    </div>     
           
    <% if ! @inbound.courier %> 
      <div class="form-group" id="new-courier">
        <label class="col-sm-3 control-label" for="idfield">
          Nama Kurir
        </label>
        <div class="col-sm-7">
          <input type="text" name="new_courier" id="new-courier-name" placeholder="Nama Jasa Kurir yang Baru" id="noresi" class="form-control">
        </div>
      </div> 
    <% end %>
            
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Nomor Resi
      </label>
      <div class="col-sm-7">
        <input type="text" name="inbound[awb_number]" value="<%= @inbound.awb_number %>" placeholder="Nomor Resi / AWB" id="noresi" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Tanggal Resi
      </label>
      <div class="col-sm-7">
        <input type="text" name="inbound[awb_date]" value="<%= @inbound.awb_date ? @inbound.awb_date : Time.now.to_date %>" placeholder="Tanggal Resi" id="tanggalresi" class="form-control format-datepicker">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Tipe Paket
      </label>
      <div class="col-sm-7">
        <%= f.select :package_type_id, options_from_collection_for_select(@package_types, "id", "name", @inbound.package_type_id), {include_blank: "-- Choose Package Type --"}, {class: "js-example-placeholder-single js-states form-control"} %>
      </div>
    </div>  
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Isi
      </label>
      <div class="col-sm-7">
        <span class="input-icon">
        <input type="text" name="inbound[description]" value="<%= @inbound.description %>" placeholder="Keterangan" id="keteranganisi" class="form-control">
        <i class="ti-envelope"></i>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Urgency Level
      </label>
      <div class="col-sm-7">
        <%= f.select :urgent_level_id, options_from_collection_for_select(@urgent_levels, "id", "name", @inbound.urgent_level_id), {include_blank: "-- Choose Urgency Level --"}, {class: "js-example-placeholder-single js-states form-control"} %>
      </div>
    </div> 
    
    </fieldset>
    <fieldset><legend>Identitas Pengirim</legend>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="">
        Nama Pengirim
      </label>
      <div class="col-sm-7">
        <span class="input-icon">
        <input type="text" name="inbound[sender_name]" value="<%= @inbound.sender_name %>" placeholder="nama pengirim .." id="pengirim" class="form-control">
        <i class="ti-user"></i> </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="">
        Departemen Pengirim
      </label>
      <div class="col-sm-7">
        <span class="input-icon">
        <input type="text" name="inbound[sender_department]" value="<%= @inbound.sender_department %>" placeholder="Dept. Industrial Engineering" id="" class="form-control">
        <i class="ti-briefcase"></i>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Perusahaan Pengirim
      </label>
      <div class="col-sm-7">
        <span class="input-icon">
        <input type="text" name="inbound[sender_company]" value="<%= @inbound.sender_company %>" placeholder="PT. Sumber Makmur" id="idfield" class="form-control">
        <i class="ti-world"></i>
        </span>
      </div>
    </div>
    </fieldset>
    <fieldset><legend>Identitas Penerima</legend>
    
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Perusahaan Penerima
      </label>
      <div class="col-sm-7">
        <%= f.select :company_id, options_from_collection_for_select(@companies, "id", "name", @inbound.company_id), {include_blank: "-- Pilih Perusahaan Penerima --"}, {class: "js-example-placeholder-single js-states form-control", placeholder: "-- Pilih Perusahaan Penerima --"} %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="idfield">
        Depertemen Penerima
      </label>
      <div class="col-sm-7" id="department">
        <% if @inbound.company %>
          <%= f.select :department_id, options_from_collection_for_select(@inbound.company.departments, "id", "name", @inbound.department_id), {:include_blank => "-- Choose Department --"}, {class: "js-example-placeholder-single js-states form-control"} %>
        <% end %>
      </div>
    </div>
    <div class="form-group" id="department">
      <label class="col-sm-3 control-label" for="idfield">
        Penerima
      </label>
      <div class="col-sm-7" id="user">
        <% if @inbound.department %>
          <%= f.select :user_id, options_from_collection_for_select(@inbound.department.users, "id", "name", @inbound.user_id), {:include_blank => "-- Choose Penerima --"}, {class: "js-example-placeholder-single js-states form-control"} %>
        <% end %>
      </div>
    </div>
    
  </fieldset>
    <div class="form-group margin-bottom-0">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary margin-left-15">
          Submit
        </button>
      </div>
    </div>
<% end %>

<%= content_for :css do %>
  
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
    
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/vendor/ckeditor/ckeditor.js"></script>
    <script src="/vendor/ckeditor/adapters/jquery.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>

    <script src="/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/vendor/autosize/autosize.min.js"></script>
    <script src="/vendor/selectFx/classie.js"></script>
    <script src="/vendor/selectFx/selectFx.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
  
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/form-validation.js"></script>
    <script src="/assets/js/form-elements.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        FormValidator.init();
        FormElements.init();
      });
    </script>
<% end %>
