  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Inbound Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail inbound</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Inbound View</span>
          </li>
          <li class="active">
            <span>View Inbound</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Inbound</h5>
                </div>
                <div class="panel-body">
                  <fieldset><legend>Paket</legend>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Task ID</td>
                          <td><%= @inbound.inbound_number %></td>
                        </tr>
                        <tr>
                          <td>Tanggal Masuk</td>
                          <td><%= @inbound.inbound_date ? @inbound.inbound_date.strftime("%d/%m/%Y") : "" %> <%= @inbound.inbound_time ? @inbound.inbound_time.strftime("%H:%M") : "" %></td>
                        </tr>
                        <tr>
                          <td>Kurir</td>
                          <td><%= @inbound.courier ? @inbound.courier.name : "" %></td>
                        </tr>
                        <tr>
                          <td>Nomor Resi / AWB</td>
                          <td><%= @inbound.awb_number %></td>
                        </tr>
                        <tr>
                          <td>Tanggal Resi / AWB</td>
                          <td><%= @inbound.awb_date ? @inbound.awb_date.strftime("%d/%m/%Y") : "" %></td>
                        </tr>
                        <tr>
                          <td>Tipe Paket</td>
                          <td><%= @inbound.package_type ? @inbound.package_type.name : "N/A" %></td>
                        </tr>
                        <tr>
                          <td>Isi</td>
                          <td><%= @inbound.description %></td>
                        </tr>
                        <tr>
                          <td>Urgent Level</td>
                          <td>
                            <% if @inbound.urgent_level %>
                              <span class="label label-<%= @inbound.urgent_level.urgent_label %>"><%= @inbound.urgent_level.name %></span>
                            <% else %>
                              N/A
                            <% end %>
                          </td>
                        </td>
                      </tbody>
                    </table>
                  </fieldset>
                  <fieldset><legend>Identitas Pengirim</legend>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Nama Pengirim</td>
                          <td><%= @inbound.sender_name %></td>
                        </tr>
                        <tr>
                          <td>Departemen Pengirim</td>
                          <td><%= @inbound.sender_department %></td>
                        </tr>
                        <tr>
                          <td>Perusahaan Pengirim</td>
                          <td><%= @inbound.sender_company %></td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
                  <fieldset><legend>Identitas Penerima</legend>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Nama Penerima</td>
                          <td><%= @inbound.user ? @inbound.user.name : "" %></td>
                        </tr>
                        <tr>
                          <td>Departemen Penerima</td>
                          <td><%= @inbound.department ? @inbound.department.name : "" %></td>
                        </tr>
                        <tr>
                          <td>Perusahaan Penerima</td>
                          <td><%= @inbound.company ? @inbound.company.name : "N/A" %></td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
                <div class="col-md-12 space20">
                  <% 
                      @not_authorized = true

                      if current_user.user_group
                        current_user.user_group.action_models.each do |action_model|
                          if (action_model.controller_model.path == "admin/inbounds" && action_model.path == "edit")
                            @not_authorized = false
                          end

                          break if ! @not_authorized
                        end
                    end
                  %>

                  <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
                    <a href="/inbounds/<%= params[:id] %>/edit" class="btn btn-warning">
                      Edit <i class="fa fa-edit"></i>
                    </a>
                  <% end %>
                  <a href="/inbounds" class="btn btn-info">
                    Back <i class="fa fa-reply"></i>
                  </a>
                </div>
            </div>
    </div>
    <!-- end: BASIC EXAMPLE -->

    <!-- start: DYNAMIC TABLE -->
    <div class="container-fluid container-fullw">
      <div class="row">
        <div class="col-md-12">
          <h5 class="over-title margin-bottom-15">List of <span class="text-bold">Updates</span></h5>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% if @inbound.with_courier %>
                  <tr>
                    <td><%= @inbound.with_courier.created_at.strftime("%d-%m-%Y") %></td>
                    <td>with courier</td>
                  </tr>
                <% end %>

                <% if @inbound.delivered %>
                  <tr>
                    <td><%= @inbound.delivered.created_at.strftime("%d-%m-%Y") %></td>
                    <td>delivered to receiver</td>
                  </tr>
                <% end %>

                <% if @inbound.failed %>
                  <tr>
                    <td><%= @inbound.failed.created_at.strftime("%d-%m-%Y") %></td>
                    <td>failed (reason: <%= @inbound.failed.reason %>)</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= content_for :css do %>
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
  <% end %>

  <%= content_for :js do %>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/table-data.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        TableData.init();
      });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
  <% end %>