					<div class="wrap-content container" id="container">
						<!-- start: DASHBOARD TITLE -->
						<section id="page-title" class="padding-top-15 padding-bottom-15">
							<div class="row">
								<div class="col-sm-7">
									<h1 class="mainTitle">Dashboard</h1>
									<span class="mainDescription">overview &amp; stats </span>
								</div>
								<div class="col-sm-5">
									<!-- start: MINI STATS WITH SPARKLINE -->
									<ul class="mini-stats pull-right">
										<li>
											<div class="sparkline-1">
												<span ></span>
											</div>
											<div class="values">
												<strong class="text-dark"><%= @inbounds.count %></strong>
												<p class="text-small no-margin">
													Inbounds
												</p>
											</div>
										</li>
										<li>
											<div class="sparkline-2">
												<span ></span>
											</div>
											<div class="values">
												<strong class="text-dark"><%= @unprocessed.count %></strong>
												<p class="text-small no-margin">
													Unprocessed
												</p>
											</div>
										</li>
										<li>
											<div class="sparkline-3">
												<span ></span>
											</div>
											<div class="values">
												<strong class="text-dark"><%= current_user.building ? current_user.building.users.count : User.all.count %></strong>
												<p class="text-small no-margin">
													Users
												</p>
											</div>
										</li>
									</ul>
									<!-- end: MINI STATS WITH SPARKLINE -->
								</div>
							</div>
						</section>
						<!-- end: DASHBOARD TITLE -->
						<!-- start: FEATURED BOX LINKS -->
						<div class="container-fluid container-fullw bg-white">
							<div class="row">
								<div class="col-sm-3">
									<div class="panel panel-white no-radius">
										<div class="panel-heading border-light">
											<h4 class="panel-title">Unprocessed</h4>
											<div class="panel-tools">
												<a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#" style="padding: 0px 10px;"><i class="ti-reload"></i></a>
											</div>
										</div>
										<div class="panel-body text-center">
											<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-green"></i> <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i> </span>
											<h2 class="StepTitle"><%= @unprocessed.count %></h2>
											<p class="text-small">
												Unprocessed
											</p>

											<% 
												tooltip_label = ""
												UrgentLevel.all.each do |urgent_level|
													tooltip_label = tooltip_label + urgent_level.name+": "+@unprocessed.where("urgent_level_id = ?", urgent_level.id).count.to_s+" inbounds "
												end
											%>

											<p class="links cl-effect-1">
												<a href="/homes/unprocessed" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= tooltip_label.html_safe %>">
													view more
												</a>
											</p>
										</div>
										
									</div>
								</div>
								<div class="col-sm-3">
									<div class="panel panel-white no-radius text-center">
										<div class="panel-heading border-light">
											<h4 class="panel-title">Unprocessed <span class="text-bold">&lt; 2 days</span></h4>
											<div class="panel-tools">
												<a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#" style="padding: 0px 10px;"><i class="ti-reload"></i></a>
											</div>
										</div>
										<div class="panel-body">
											<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-blue"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
											<h2 class="StepTitle"><%= @unprocessed_under_2_days.count %></h2>
											<p class="text-small">
												Unprocessed &lt; 2 days
											</p>

											<% 
												tooltip_label = ""
												UrgentLevel.all.each do |urgent_level|
													tooltip_label = tooltip_label + urgent_level.name+": "+@unprocessed_under_2_days.where("urgent_level_id = ?", urgent_level.id).count.to_s+" inbounds "
												end
											%>

											<p class="cl-effect-1">
												<a href="/homes/unprocessed_under_2_days" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= tooltip_label.html_safe %>">
													view more
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="panel panel-white no-radius text-center">
										<div class="panel-heading border-light">
											<h4 class="panel-title">Unprocessed <span class="text-bold"> 2-5 days</span></h4>
											<div class="panel-tools">
												<a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#" style="padding: 0px 10px;"><i class="ti-reload"></i></a>
											</div>
										</div>
										<div class="panel-body">
											<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-red"></i> <i class="fa fa-thumbs-o-down fa-stack-1x fa-inverse"></i> </span>
											<h2 class="StepTitle"><%= @unprocessed_2_5_days.count %></h2>
											<p class="text-small">
												Unprocessed 2 - 5 days
											</p>

											<% 
												tooltip_label = ""
												UrgentLevel.all.each do |urgent_level|
													tooltip_label = tooltip_label + urgent_level.name+": "+@unprocessed_2_5_days.where("urgent_level_id = ?", urgent_level.id).count.to_s+" inbounds "
												end
											%>

											<p class="links cl-effect-1">
												<a href="/homes/unprocessed_2_5_days" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= tooltip_label.html_safe %>">
													view more
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="panel panel-white no-radius text-center">
										<div class="panel-heading border-light">
											<h4 class="panel-title">Unprocessed <span class="text-bold">&gt; 5 days</span></h4>
											<div class="panel-tools">
												<a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#" style="padding: 0px 10px;"><i class="ti-reload"></i></a>
											</div>
										</div>
										<div class="panel-body">
											<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-spinner fa-stack-1x fa-inverse"></i> </span>
											<h2 class="StepTitle"><%= @unprocessed_over_5_days.count %></h2>
											<p class="text-small">
												Unprocessed &gt; 5 days
											</p>

											<% 
												tooltip_label = ""
												UrgentLevel.all.each do |urgent_level|
													tooltip_label = tooltip_label + urgent_level.name+": "+@unprocessed_over_5_days.where("urgent_level_id = ?", urgent_level.id).count.to_s+" inbounds "
												end
											%>

											<p class="links cl-effect-1">
												<a href="/homes/unprocessed_over_5_days" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= tooltip_label.html_safe %>">
													view more
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<!-- end: FEATURED BOX LINKS -->
						<!-- start: FIRST SECTION -->
						<div class="container-fluid container-fullw padding-bottom-10">
							<div class="row">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-md-7 col-lg-8">
											<div class="panel panel-white no-radius" id="visits">
												<div class="panel-heading border-light">
													<h4 class="panel-title"> Inbounds Trend </h4>
													<ul class="panel-heading-tabs border-light">
														<li class="panel-tools">
															<a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
														</li>
													</ul>
												</div>
												<div collapse="visits" class="panel-wrapper">
													<div class="panel-body">
														<div class="height-350">
															<canvas id="chart1" class="full-width"></canvas>
															<div class="margin-top-20">
																<div class="inline pull-left">
																	<div id="chart1Legend" class="chart-legend"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-5 col-lg-4">
											<div class="panel panel-white no-radius">
												<div class="panel-heading border-light">
													<h4 class="panel-title"> Delivered </h4>
												</div>
												<div class="panel-body">
													<h3 class="inline-block no-margin"><%= @delivered.count %></h3> Delivered
													<div class="progress progress-sm no-radius">
														<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= @inbounds.count != 0 ? @delivered.count*100/@inbounds.count : 0 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @inbounds.count != 0 ? @delivered.count*100/@inbounds.count : 0 %>%;">
															<span class="sr-only"> <%= @inbounds.count != 0 ? @delivered.count*100/@inbounds.count : 0 %>% Complete</span>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-4">
															<h4 class="no-margin"><%= @delivered_under_2_days.count %></h4>
															<div class="progress progress-xs no-radius no-margin">
																<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= @inbounds.count != 0 ? @delivered_under_2_days.count*100/@inbounds.count : 0 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @inbounds.count != 0 ? @delivered_under_2_days.count*100/@inbounds.count : 0 %>%;">
																	<span class="sr-only"> <%= @inbounds.count != 0 ? @delivered_under_2_days.count*100/@inbounds.count : 0 %>% Complete</span>
																</div>
															</div>
															< 2 days
														</div>
														<div class="col-sm-4">
															<h4 class="no-margin"><%= @delivered_2_5_days.count %></h4>
															<div class="progress progress-xs no-radius no-margin">
																<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= @inbounds.count != 0 ? @delivered_2_5_days.count*100/@inbounds.count : 0 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @inbounds.count != 0 ? @delivered_2_5_days.count*100/@inbounds.count : 0 %>%;">
																	<span class="sr-only"> <%= @inbounds.count != 0 ? @delivered_2_5_days.count*100/@inbounds.count : 0 %>% Complete</span>
																</div>
															</div>
															2-5 days
														</div>
														<div class="col-sm-4">
															<h4 class="no-margin"><%= @delivered_over_5_days.count %></h4>
															<div class="progress progress-xs no-radius no-margin">
																<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= @inbounds.count != 0 ? @delivered_over_5_days.count*100/@inbounds.count : 0 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @inbounds.count != 0 ? @delivered_over_5_days.count*100/@inbounds.count : 0 %>%;">
																	<span class="sr-only"> <%= @inbounds.count != 0 ? @delivered_over_5_days.count*100/@inbounds.count : 0 %>% Complete</span>
																</div>
															</div>
															> 5 days
														</div>
													</div>
													<div class="row margin-top-30">
														<% @package_types.each do |package_type| %>
															<div class="col-xs-4 text-center">
																<div class="rate">
																	<% if current_user.user_group.super == 1 %>
																		<span class="value"><%= @inbounds.count != 0 ? package_type.inbounds.count*100/@inbounds.count : 0 %></span><span class="percentage">%</span>
																	<% else %>
																		<span class="value"><%= @inbounds.count != 0 ? package_type.inbounds.where(user_id: current_user.id).count*100/@inbounds : 0 %></span><span class="percentage">%</span>
																	<% end %>
																</div>
																<%= package_type.name %>
															</div>
														<% end %>
														<div class="margin-top-10">
															<div class="height-180">
																<canvas id="chart2" class="full-width"></canvas>
																<div class="inline pull-left legend-xs">
																	<div id="chart2Legend" class="chart-legend"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end: FIRST SECTION -->
						<!-- start: SECOND SECTION -->
						<div class="container-fluid container-fullw bg-white">
							<div class="row">
								<div class="col-sm-8">
									<div class="panel panel-white no-radius">
										<div class="panel-heading border-bottom">
											<h4 class="panel-title">Monthly Statistics</h4>
										</div>
										<div class="panel-body">
											<select id='month'>
												<option value='01'>Januari</option>
												<option value='02'>February</option>
												<option value='03'>Maret</option>
												<option value='04'>April</option>
												<option value='05'>Mei</option>
												<option value='06'>Juni</option>
												<option value='07'>Juli</option>
												<option value='08'>Agustus</option>
												<option value='09'>September</option>
												<option value='10'>Oktober</option>
												<option value='11'>November</option>
												<option value='12'>Desember</option>
											</select>

											<select id='year'>
												<option value='2010'>2010</option>
												<option value='2011'>2011</option>
												<option value='2012'>2012</option>
												<option value='2013'>2013</option>
												<option value='2014'>2014</option>
												<option value='2015'>2015</option>
												<option value='2016'>2016</option>
											</select>
										</div>
										<div class="panel-footer">
											<table class="table" class='table-condensed' id='table'>
												<tbody>
													<tr>
														<td class="center">1</td>
														<td>Unprocessed</td>
														<td class="center" id='unprocessed'><%= @this_month_unproc %></td>
														<td>-</td>
													</tr>
													<tr>
														<td class="center">2</td>
														<td>Processed < 2 days </td>
														<td class="center" id='less_two_days'><%= @this_month_proc_under_2_days %></td>
														<td>-</td>
													</tr>
													<tr>
														<td class="center">3</td>
														<td>Processed 2-5 days</td>
														<td class="center" id='two_to_five'><%= @this_month_proc_2_5_days %></td>
														<td>-</td>
													</tr>
													<tr>
														<td class="center">4</td>
														<td>Processed >5 days</td>
														<td class="center" id='more_five_days'><%= @this_month_proc_over_5_days %></td>
														<td>-</td>
													</tr>
												</tbody>
											</table>
											<div id='ajax-loader' style='display:none'><center><img src='/assets/ajax-loader.gif'/></center></div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="panel panel-white no-radius">
										<div class="panel-heading border-bottom">
											<h4 class="panel-title">Package Type</h4>
										</div>
										<div class="panel-body">
											<div class="text-center">
												<span class="mini-pie"> <canvas id="chart3" class="full-width"></canvas> <span><%= @inbounds.count %></span> </span>
												<span class="inline text-large no-wrap">Inbounds</span>
											</div>
											<div class="margin-top-20 text-center legend-xs inline">
												<div id="chart3Legend" class="chart-legend"></div>
											</div>
										</div>
										<div class="panel-footer">
											<div class="clearfix padding-5 space5">
												<div class="col-xs-4 text-center no-padding">
													<div class="border-right border-dark">
														<span class="text-bold block text-extra-large">90%</span>
														<span class="text-light">Local</span>
													</div>
												</div>
												<div class="col-xs-4 text-center no-padding">
													<div class="border-right border-dark">
														<span class="text-bold block text-extra-large">2%</span>
														<span class="text-light">International</span>
													</div>
												</div>
												<div class="col-xs-4 text-center no-padding">
													<span class="text-bold block text-extra-large">8%</span>
													<span class="text-light">NA</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end: SECOND SECTION -->

					</div>

					<%= content_for :js do %>
						<!-- start: JavaScript Event Handlers for this page -->
						<script src="/assets/js/index.js"></script>
						<script>
							function test(){
								$("#table").hide();
								$("#ajax-loader").show();
								var month = $("#month").val();
								var year = $("#year").val();

								dataSend = {
								            yearmonth : year+month
								        };
								$.ajax({
								    type : "GET",
								    url  : "<%= get_monthly_statistic_path %>",
								    dataType: 'json',
								    data: dataSend,
								    success: function(data) {
										$("#table").show();
										$("#ajax-loader").hide();
								        $("#unprocessed").html(data.unprocessed);
								        $("#less_two_days").html(data.less_two_days);
								        $("#two_to_five").html(data.two_to_five);
								        $("#more_five_days").html(data.more_five_days);
								    }
								});
							}

							jQuery(document).ready(function() {
								Main.init();
								Index.init();
								$("#month").change(function(){
									test();
								});
								$("#year").change(function(){
									test();
								});
							});
						</script>
					<% end %>




