					<div class="wrap-content container" id="container">
						<!-- start: PAGE TITLE -->
						<section id="page-title">
							<div class="row">
								<div class="col-sm-8">
									<h1 class="mainTitle">Unprocessed Inbounds </h1>
									<span class="mainDescription"></span>
								</div>
								<ol class="breadcrumb">
									<li class="active">
										<span>Unprocessed Inbounds</span>
									</li>
								</ol>
							</div>
						</section>
						<!-- end: PAGE TITLE -->
						<!-- start: DYNAMIC TABLE -->
						<div class="container-fluid container-fullw bg-white">
							<div class="row">
								<div class="col-md-12">
									<h5 class="over-title margin-bottom-15">List of <span class="text-bold">Inbound</span></h5>
									
									<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
										<thead>
											<tr>
												<th>Tanggal Masuk</th>
												<th>Penerima</th>
												<th class="hidden-xs">Departemen Penerima</th>
												<th> Perusahaan Penerima</th>
												<th class="hidden-xs">Tipe Paket</th>
												<th>Urgency Level</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<% @inbounds.each do |inbound| %>
												<tr>
													<td>
														<% 
													        @not_authorized = true

													        if current_user.user_group
													          current_user.user_group.action_models.each do |action_model|
													            if (action_model.controller_model.path == "inbounds" && action_model.path == "new")
													              @not_authorized = false
													            end

													            break if ! @not_authorized
													          end
													      end
													    %>

													    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
															<%= link_to inbound.inbound_number, inbound_path(inbound) %>
														<% else %>
															<%= inbound.inbound_number %>
														<% end %>
													</td>
													<td><%= inbound.user ? inbound.user.name : "N/A" %></td>
													<td class="hidden-xs"><%= inbound.department ? inbound.department.name : "N/A" %></td>
													<td><%= inbound.company ? inbound.company.name : "N/A" %></td>
													<td class="hidden-xs"><%= inbound.package_type ? inbound.package_type.name : "N/A" %></td>
													<td>
														<% if inbound.urgent_level %>
															<span class="label label-<%= inbound.urgent_level.urgent_label %>"><%= inbound.urgent_level.name %></span>
														<% else %>
															N/A
														<% end %>
													</td>
													<td><%= PackageStatus.where(ordering_number: inbound.inbound_status).first ? PackageStatus.where(ordering_number: inbound.inbound_status).first.name : "in mail room" %></td>
												</tr>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row">
			                    <div class="col-md-12 space20">
			                      <a href="/" class="btn btn-info">
			                        Back <i class="fa fa-reply"></i>
			                      </a>
			                    </div>
		                  	</div>
						</div>
						<!-- end: DYNAMIC TABLE -->
						<!-- start: DYNAMIC TABLE -->
						
					</div>

			          <%= content_for :css do %>
			            <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
			            <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
			            <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
			            <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
			          <% end %>

			          <%= content_for :js do %>
			            <script src="/vendor/select2/select2.min.js"></script>
			            <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
			            <!-- start: JavaScript Event Handlers for this page -->
			            <script src="/assets/js/table-data.js"></script>
			            <script>
			              jQuery(document).ready(function() {
			                Main.init();
			                TableData.init();
			              });
			            </script>
			            <!-- end: JavaScript Event Handlers for this page -->
			          <% end %>