
<%= form_for(@failed, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @failed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@failed.errors.count, "error") %> prohibited this failed from being saved:</h2>

      <ul>
      <% @failed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" %>
      <%= f.hidden_field :created_by, :value => current_user.id %>
    <% else %>
      <%= f.hidden_field :updated_by, :value => current_user.id %>
    <% end %>

    <% if current_user.building %>
      <%= f.hidden_field :building_id, :value => current_user.building_id %>
    <% end %>

  <fieldset>
      <legend>Paket</legend>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="date">
          Tanggal Gagal
        </label>
        <div class="col-sm-7">
          <div class="col-sm-6 padding-left-0">
            <input name="failed[failed_date]" value="<%= @failed.failed_date %>" class="col-sm-3 form-control format-datepicker" placeholder="choose the date here .." type="text">
          </div>
          <div class="col-sm-6 padding-right-0">
            <input type="text" name="failed[failed_time]" value="<%= @failed.failed_time %>" id="timepicker-default" class="col-sm-3 form-control" placeholder="choose the time here ..">
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label" for="idfield">
          Internal Courier
        </label>
        <div class="col-sm-7">
          <%= f.select :internal_courier_id, options_from_collection_for_select(@internal_couriers, "id", "name", @failed.internal_courier_id), {include_blank: "-- Pilih Kurir Internal --"}, {class: "js-example-placeholder-single js-states form-control"} %>
        </div>
      </div>  

      <div class="form-group">
        <label class="col-sm-3 control-label" for="idfield">
            Paket
        </label>
        <div class="col-sm-7">
            <select name='inbounds[]' multiple class="js-example-basic-multiple js-states form-control">
              <% @inbounds.each do |inbound| %>
                <option value="<%= inbound.id %>"><%= inbound.awb_number %></option>
              <% end %>
            </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="idfield">
          Alasan Gagal
        </label>
        <div class="col-sm-7">
            <input name="failed[reason]" value="<%= @failed.reason %>" class="col-sm-3 form-controlr"type="text">
        </div>
      </div>  
    </fieldset>
  
    <div class="form-group margin-bottom-0">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary margin-left-15">
          Submit
        </button>
      </div>
    </div>
<% end %>

<%= content_for :css do %>
  
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
    
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/vendor/ckeditor/ckeditor.js"></script>
    <script src="/vendor/ckeditor/adapters/jquery.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>

    <script src="/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/vendor/autosize/autosize.min.js"></script>
    <script src="/vendor/selectFx/classie.js"></script>
    <script src="/vendor/selectFx/selectFx.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
  
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/form-validation.js"></script>
    <script src="/assets/js/form-elements.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        FormValidator.init();
        FormElements.init();
      });
    </script>
<% end %>
