					<div class="wrap-content container" id="container">
						<!-- start: PAGE TITLE -->
						<section id="page-title">
							<div class="row">
								<div class="col-sm-8">
									<h1 class="mainTitle">Kotak Masuk </h1>
									<span class="mainDescription"></span>
								</div>
								<ol class="breadcrumb">
									<li>
										<span>Failed</span>
									</li>
									<li class="active">
										<span>Kotak Masuk</span>
									</li>
								</ol>
							</div>
						</section>
						<!-- end: PAGE TITLE -->
						<!-- start: DYNAMIC TABLE -->
						<div class="container-fluid container-fullw bg-white">
							<div class="row">
								<div class="col-md-12">
									<h5 class="over-title margin-bottom-15">List of <span class="text-bold">Failed</span></h5>
									<div class="row">
					                    <div class="col-md-12 space20">
					                    	<% 
										        @not_authorized = true

										        if current_user.user_group
										          current_user.user_group.action_models.each do |action_model|
										            if (action_model.controller_model.path == "faileds" && action_model.path == "new")
										              @not_authorized = false
										            end

										            break if ! @not_authorized
										          end
										      end
										    %>

										    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
					                      	  	<a href="/faileds/new" class="btn btn-green">
							                        Add New <i class="fa fa-plus"></i>
						                      	</a>
						                    <% end %>
					                    </div>
					                  </div>
									<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
										<thead>
											<tr>
												<th>Tanggal</th>
												<th>Pukul</th>
												<th>Nama Kurir</th>
												<th>Alasan</th>
												<th>Aksi</th>
											</tr>
										</thead>
										<tbody>
											<% @faileds.each do |failed| %>
												<tr>
													<td><%= failed.failed_date ? failed.failed_date.strftime("%d/%m/%Y") : "N/A" %></td>
													<td><%= failed.failed_time ? failed.failed_time.strftime("%H:%M") : "N/A" %></td>
													<td><%= failed.courier_name %></td>
													<td><%= failed.reason %></td>
													<td class="center">
													<div class="visible-md visible-lg hidden-sm hidden-xs">
														<%= link_to failed_path(failed) do %>
															<i class="fa fa-search"></i>
														<% end %>
														<% 
													        @not_authorized = true

													        if current_user.user_group
													          current_user.user_group.action_models.each do |action_model|
													            if (action_model.controller_model.path == "faileds" && action_model.path == "edit")
													              @not_authorized = false
													            end

													            break if ! @not_authorized
													          end
													      end
													    %>
													    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
															<%= link_to edit_failed_path(failed) do %>
																<i class="fa fa-edit"></i>
															<% end %>
														<% end %>

														<% 
													        @not_authorized = true

													        if current_user.user_group
													          current_user.user_group.action_models.each do |action_model|
													            if (action_model.controller_model.path == "faileds" && action_model.path == "destroy")
													              @not_authorized = false
													            end

													            break if ! @not_authorized
													          end
													      end
													    %>
													    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
															<%= link_to failed_path(failed), method: :delete, data: {confirm: "are you sure?"} do %>
																<i class="fa fa-trash"></i>
															<% end %>
														<% end %>
													</div>
													</td>
												</tr>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- end: DYNAMIC TABLE -->
						<!-- start: DYNAMIC TABLE -->
						
					</div>

			          <%= content_for :css do %>
			            <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
			            <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
			            <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
			            <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
			          <% end %>

			          <%= content_for :js do %>
			            <script src="/vendor/select2/select2.min.js"></script>
			            <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
			            <!-- start: JavaScript Event Handlers for this page -->
			            <script src="/assets/js/table-data.js"></script>
			            <script>
			              jQuery(document).ready(function() {
			                Main.init();
			                TableData.init();
			              });
			            </script>
			            <!-- end: JavaScript Event Handlers for this page -->
			          <% end %>