					<div class="wrap-content container" id="container">
						<!-- start: PAGE TITLE -->
						<section id="page-title">
							<div class="row">
								<div class="col-sm-8">
									<h1 class="mainTitle">Form Tambah Failed</h1>
									<span class="mainDescription">Form untuk menambah data Failed yang baru</span>
								</div>
								<ol class="breadcrumb">
									<li>
										<span>Failed Forms</span>
									</li>
									<li class="active">
										<span>Form Failed</span>
									</li>
								</ol>
							</div>
						</section>
						<!-- end: PAGE TITLE -->
						<!-- start: BASIC EXAMPLE -->
						<div class="container-fluid container-fullw bg-white">
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="panel panel-white">
											<div class="panel-heading">
												<h5 class="panel-title">Form Tambah</h5>
											</div>
											<div class="panel-body">
												<%= render "form" %>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
			                    <div class="col-md-12 space20">
			                      <a href="/package_statuses" class="btn btn-info">
			                        Back <i class="fa fa-reply"></i>
			                      </a>
			                    </div>
		                  	</div>
						</div>
						<!-- end: BASIC EXAMPLE -->
					</div>