  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Controller Model Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail controller_model</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Controller Model View</span>
          </li>
          <li class="active">
            <span>View Controller Model</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Controller Model</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td><%= @controller_model.name %></td>
                      </tr>
                      <tr>
                        <td>Path</td>
                        <td><%= @controller_model.path %></td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td><%= @controller_model.description %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
                <div class="col-md-12 space20">
                  <a href="/controller_models/<%= params[:id] %>/edit" class="btn btn-warning">
                    Edit <i class="fa fa-edit"></i>
                  </a>
                  <a href="/controller_models" class="btn btn-info">
                    Back <i class="fa fa-reply"></i>
                  </a>
                </div>
            </div>
    </div>
    <!-- end: BASIC EXAMPLE -->

    <!-- start: DYNAMIC TABLE -->
    <div class="container-fluid container-fullw">
      <div class="row">
        <div class="col-md-12">
          <h5 class="over-title margin-bottom-15">List of <span class="text-bold">Action Models</span></h5>
          <div class="row">
            <div class="col-md-12 space20">
              <a href="/action_models/new?controller_model_id=<%= params[:id] %>" class="btn btn-green">
                Add New <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @controller_model.action_models.each do |action_model| %>
                  <tr>
                    <td><%= link_to action_model.name, action_model_path(action_model) %></td>
                    <td><%= action_model.path %></td>
                    <td>
                      <%= link_to edit_action_model_path(action_model) do %>
                        <i class="fa fa-edit"></i>
                      <% end %>
                      <%= link_to action_model_path(action_model), :confirm => 'Are you sure?', :method => :delete, :class => 'del' do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= content_for :css do %>
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
  <% end %>

  <%= content_for :js do %>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/table-data.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        TableData.init();
      });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
  <% end %>