<!DOCTYPE html>
<!-- Template Name: Mail Room - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>Aplikasi Mailroom</title>
		<!-- start: META -->
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: GOOGLE FONTS -->
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
		<!-- end: GOOGLE FONTS -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/vendor/themify-icons/themify-icons.min.css">
		<link href="/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
		<link href="/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
		<link href="/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
		<!-- end: MAIN CSS -->
		<!-- start: CLIP-TWO CSS -->
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="/assets/css/plugins.css">
		<link rel="stylesheet" href="/assets/css/themes/theme-1.css" id="skin_color" />
		<!-- end: CLIP-TWO CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<%= yield(:css) %>
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->

        <%= javascript_include_tag :application %>

        <%= csrf_meta_tag %>
	</head>
	<!-- end: HEAD -->
	<body>
		<div id="app">
			<!-- sidebar -->
			<div class="sidebar app-aside" id="sidebar">
				<div class="sidebar-container perfect-scrollbar">
					<nav>
						<!-- start: SEARCH FORM -->
						<div class="search-form">
							<a class="s-open" href="#">
								<i class="ti-search"></i>
							</a>
							<form class="navbar-form" role="search">
								<a class="s-remove" href="#" target=".navbar-form">
									<i class="ti-close"></i>
								</a>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search...">
									<button class="btn search-button" type="submit">
										<i class="ti-search"></i>
									</button>
								</div>
							</form>
						</div>
						<!-- end: SEARCH FORM -->
						<!-- start: MAIN NAVIGATION MENU -->
						<div class="navbar-title">
							<span>Main Navigation</span>
						</div>
						<ul class="main-navigation-menu">
							<% 
						        @not_authorized = true

						        if current_user.user_group
						          current_user.user_group.action_models.each do |action_model|
						            if (action_model.controller_model.path == "homes" && action_model.path == "index")
						              @not_authorized = false
						            end

						            break if ! @not_authorized
						          end
						      end
						    %>

						    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
						    	<li>
		                      	  	<a href="/homes">
										<div class="item-content">
											<div class="item-media">
												<i class="ti-home"></i>
											</div>
											<div class="item-inner">
												<span class="title"> Dashboard </span>
											</div>
										</div>
									</a>
								</li>
		                    <% end %>
							<% 
						        @not_authorized = true

						        if current_user.user_group
						          current_user.user_group.action_models.each do |action_model|
						            if (action_model.controller_model.path == "inbounds" && action_model.path == "index")
						              @not_authorized = false
						            end

						            break if ! @not_authorized
						          end
						      end
						    %>

						    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
						    	<li>
								<a href="javascript:void(0)">
										<div class="item-content">
											<div class="item-media">
												<i class="ti-import"></i>
											</div>
											<div class="item-inner">
												<span class="title"> Inbound</span><i class="icon-arrow"></i>
											</div>
										</div>
									</a>
									<ul class="sub-menu">
										<% 
									        @not_authorized = true
									        if current_user.user_group
									          current_user.user_group.action_models.each do |action_model|
									            if (action_model.controller_model.path == "inbounds" && action_model.path == "index")
									              @not_authorized = false
									            end
									            break if ! @not_authorized
									          end
									      end
									    %>
									    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
											<li>
												<a href="/inbounds">
													<span class="title">In Mailroom</span>
												</a>
											</li>	
										<% end %>	

										<% 
									        @not_authorized = true
									        if current_user.user_group
									          current_user.user_group.action_models.each do |action_model|
									            if (action_model.controller_model.path == "with_couriers" && action_model.path == "index")
									              @not_authorized = false
									            end
									            break if ! @not_authorized
									          end
									      end
									    %>
									    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
											<li>
												<a href="/with_couriers">
													<span class="title">With Courier</span>
												</a>
											</li>	
										<% end %>	

										<% 
									        @not_authorized = true
									        if current_user.user_group
									          current_user.user_group.action_models.each do |action_model|
									            if (action_model.controller_model.path == "delivereds" && action_model.path == "index")
									              @not_authorized = false
									            end
									            break if ! @not_authorized
									          end
									      end
									    %>
									    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
											<li>
												<a href="/delivereds">
													<span class="title">Delivered</span>
												</a>
											</li>	
										<% end %>	

										<% 
									        @not_authorized = true
									        if current_user.user_group
									          current_user.user_group.action_models.each do |action_model|
									            if (action_model.controller_model.path == "faileds" && action_model.path == "index")
									              @not_authorized = false
									            end
									            break if ! @not_authorized
									          end
									      end
									    %>
									    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
											<li>
												<a href="/faileds">
													<span class="title">Failed</span>
												</a>
											</li>	
										<% end %>	
									</ul>
								</li>
							<% end %>

							<li>
								<a href="javascript:void(0)">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-settings"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Master </span><i class="icon-arrow"></i>
										</div>
									</div>
								</a>
								<ul class="sub-menu">
									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "users" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
										<li>
											<a href="/users">
												<span class="title">Users</span>
											</a>
										</li>	
									<% end %>	
									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "user_groups" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>	
										<li>
											<a href="/user_groups">
												<span class="title">User Groups</span>
											</a>
										</li>
									<% end %>
									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "companies" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
										<li>
											<a href="/companies">
												<span class="title">Companies</span>
											</a>
										</li>
									<% end %>
									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "departments" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
										<li>
											<a href="/departments">
												<span class="title">Departments</span>
											</a>
										</li>
									<% end %>
									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "couriers" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
										<li>
											<a href="/couriers">
												<span class="title">Couriers</span>
											</a>
										</li>
									<% end %>
									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "package_types" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
										<li>
											<a href="/package_types">
												<span class="title">Package Type</span>
											</a>
										</li>
									<% end %>
									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "package_statuses" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
										<li>
											<a href="/package_statuses">
												<span class="title">Package Status</span>
											</a>
										</li>
									<% end %>
									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "internal_couriers" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
										<li>
											<a href="/internal_couriers">
												<span class="title">Internal Courier</span>
											</a>
										</li>
									<% end %>
									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "urgent_levels" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
										<li>
											<a href="/urgent_levels">
												<span class="title">Urgent Level</span>
											</a>
										</li>
									<% end %>

									<% 
								        @not_authorized = true

								        if current_user.user_group
								          current_user.user_group.action_models.each do |action_model|
								            if (action_model.controller_model.path == "buildings" && action_model.path == "index")
								              @not_authorized = false
								            end

								            break if ! @not_authorized
								          end
								      end
								    %>

								    <% if ! @not_authorized || (current_user.user_group && current_user.user_group.super == 1) %>
										<li>
											<a href="/buildings">
												<span class="title">Building</span>
											</a>
										</li>
									<% end %>
								</ul>
							</li>
						</ul>
						<!-- end: MAIN NAVIGATION MENU -->
					</nav>
				</div>
			</div>
			<!-- / sidebar -->
			<div class="app-content">
				<!-- start: TOP NAVBAR -->
				<header class="navbar navbar-default navbar-static-top">
					<!-- start: NAVBAR HEADER -->
					<div class="navbar-header">
						<a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
							<i class="ti-align-justify"></i>
						</a>
						<a class="navbar-brand" href="/">
							<img src="/assets/images/logo.png" width="150px" alt="Mail Room"/>
						</a>
						<a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
							<i class="ti-align-justify"></i>
						</a>
						<a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<i class="ti-view-grid"></i>
						</a>
					</div>
					<!-- end: NAVBAR HEADER -->
					<!-- start: NAVBAR COLLAPSE -->
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-right">
							<!-- start: USER OPTIONS DROPDOWN -->
							<li class="dropdown current-user">
								<a href class="dropdown-toggle" data-toggle="dropdown">
									<img src="assets/images/avatar-1.jpg" alt="Peter"> <span class="username"><%= current_user.name %> <i class="ti-angle-down"></i></i></span>
								</a>
								<ul class="dropdown-menu dropdown-dark">
									<li>
										<a href="pages_user_profile.html">
											My Profile
										</a>
									</li>
									<li>
										<a hef="pages_messages.html">
											My Messages (3)
										</a>
									</li>
									<li>
										<a href="/users/sign_out" data-confirm="are you sure?" data-method="delete"> 
											Log Out
										</a>
									</li>
								</ul>
							</li>
							<!-- end: USER OPTIONS DROPDOWN -->
						</ul>
						<!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
						<div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
							<div class="arrow-left"></div>
							<div class="arrow-right"></div>
						</div>
						<!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
					</div>
					<!-- end: NAVBAR COLLAPSE -->
				</header>
				<!-- end: TOP NAVBAR -->
				<div class="main-content" >
					<%= yield %>
				</div>
			</div>
			<!-- start: FOOTER -->
			<footer>
				<div class="footer-inner">
					<div class="pull-left">
						&copy; <span class="current-year"></span><span class="text-bold text-uppercase"> Wiradipa Nusantara</span>. <span>All rights reserved</span>
					</div>
					<div class="pull-right">
						<span class="go-top"><i class="ti-angle-up"></i></span>
					</div>
				</div>
			</footer>
			<!-- end: FOOTER -->
			
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/vendor/modernizr/modernizr.js"></script>
		<script src="/vendor/jquery-cookie/jquery.cookie.js"></script>
		<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="/vendor/switchery/switchery.min.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="/vendor/Chart.js/Chart.min.js"></script>
		<script src="/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CLIP-TWO JAVASCRIPTS -->
		<script src="/assets/js/main.js"></script>

		<%= yield(:js) %>
		<!-- end: JavaScript Event Handlers for this page -->
		<!-- end: CLIP-TWO JAVASCRIPTS -->
	</body>
</html>
